body {
    background-color: #130069;
}

header {
    color: white;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

.finished {
    text-decoration: line-through;
    color: darkslategray;
    background-color: #dbffc7;
}